body {
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
	background-color: #3a4449;
}

.card {
	box-sizing:border-box;
	background-color: white;
	min-height: 90vh;
	width: 340px;
	border-top: 2rem dotted #3a4449;
	border-radius: 2px;
	margin: 1rem auto;
	padding: 2rem;
}

.userinputForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.userinput {
	margin: auto;
}

input {
	display: inline-block;
	box-sizing: border-box;
	font-size: 46px;
	line-height: 32px;
	padding: 0 0 0 1rem;
	border: none;
	border-bottom: 6px solid #526067;
	margin-right: 10px;
	outline: none;

}

input:last-child {
	margin-right: 0px;
}

input:focus {
	border-color: #FF9A0B;
	color: transparent;
  text-shadow: 0 0 0 #2196f3;
}

button {
	color: #3a4449;
	font-weight: 900;
	padding-top: .4rem;
	width: 100%;
	margin: 10px auto;
	background-color: #e6f1f6;
	border: 2px solid #3a4449;
	opacity: 1;
	border-radius: 2px;
	outline: none;
	transition: .08s;
}

button:focus, button:active {
	color: white;
	background-color: #FF9A0B;
	border-color: #FF9A0B;
}

button:disabled {
	color: #677277;
	background-color: white;
	border-color: #818F95;
	opacity: 0.6;
	transition: 0s !important;
}
.about {
	border-top: 1px solid #87c6f7;
	border-bottom: 1px solid #87c6f7;
	margin: 0 -2rem;
	font-size: 12px;
	text-align: center;
	padding: 1.2rem;
}

.about p {
	margin-bottom: 0px;
}

.history {
	margin-bottom: 1rem;
}

.history p {
	margin: 0 -2rem;
	padding: .4rem 2rem;
}

.history p:nth-child(odd) {
	background-color: #e6f1f6;
}
