body {
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
	background-color: #3a4449;
}

.card {
	background-color: white;
	height: 90vh;
	min-width: 400px;
	max-width: 600px;
	border-radius: 2px;
	margin: 20px auto;
	padding: 20px;
}

.userinputForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.userinput {
	margin: auto;
}

input {
	display: inline-block;
	box-sizing: border-box;
	font-size: 46px;
	padding-left: 1rem;
	border: none;
	border-bottom: 6px solid #818F95;
	margin-right: 10px;
	outline: none;

}

input:last-child {
	margin-right: 0px;
}

input:focus {
	border-color: #FF9A0B;
	color: transparent;
  text-shadow: 0 0 0 #2196f3;
}

button {
	font-weight: 700;
	padding-top: .4rem;
	width: 290px;
	margin: 10px auto;
	background-color: #FF9A0B;
	border: 2px solid #FF9A0B;
	border-radius: 2px;
	outline: none;
}

button:disabled {
	color: #818F95;
	background-color: white;
	border: 2px solid #818F95;
	opacity: 0.6;
}
